
/* ABOUT START */

.section--main:before {
    bottom: 27%;
}

.about {
    padding-top: 93px;
    padding-bottom: 28px;
}
.about_items-top {
    display: flex;
    align-items: stretch;    
}
.about_items-top .about_item:first-child {
    width: 498px;
    padding: 0;
    padding-right: 37px;
    margin-top: 11px;
}
.about_items-top .about_item:nth-child(2) {
    background: #F6FAF9;
    padding: 34px 38px 61px 38px;
}
.about_item {
    padding: 34px 8px 61px 41px;    
}
.about_title,
.program_title,
.withdrawal_title,
.reviews_title,
.post_title {
    font-weight: bold;
    font-size: 42px;
    line-height: 48px;
    letter-spacing: -1.05px;    
    color: #000000;   
    margin-bottom: 29px;
}
.about_text,
.program_text,
.withdrawal_text,
.reviews_text {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #777777;
    margin-bottom: 30px;
}
.about .btn {
    padding: 15px 26px;  
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.about .icon {
    width: 55px;
    height: 55px;
}
.about_item-subtitle {
    margin-top: 30px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.4px;
    color: #000000;   
}
.about_item .about_item-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #777777;  
    margin-top: 30px;
    max-width: 260px;
    width: 100%;
}
.about_items-bottom {
    display: flex;
    align-items: stretch;
    margin-left: 174px;
}
.about_items-bottom > * {
    margin-left: -12px;
    width: calc(100%/3);
    margin-bottom: 61px;
}
.about_items-bottom .about_item:nth-child(2n+1) {
    background: #F6FAF9;
}
.about_items-bottom .about_item:nth-child(2) {
    background: #fff;
}

/* ABOUT END */



/* PROGRAMM START */

.program {
    padding: 79px 0 69px;
    background: #FAFAFA;
}
.program .container {
    display: flex;
    justify-content: space-between;
}
.program .btn {
    padding: 15px 20px;  
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.program_left {
    max-width: 587px;
    width: 100%;
    margin-top: 119px;
    margin-right: 30px;
}
.program_right {
    position: relative;
    padding: 29px 19px 29px 25px;
    background: #fff;
    max-width: 420px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 18px 88px rgba(86, 44, 147, 0.292282);
    border-radius: 23px;
}
.program_right .noUi-horizontal .noUi-handle {
    background: #fff;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.131296);
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    top: -5px;
}
.program_right .calc-range {
    height: 7px;
    margin: 10px 0;
    background: #E4E2F1;
    border-radius: 3px;
    border: none;
}
.program .form-control__field {
    border: none;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #136EEC;
    padding: 0;
    margin-bottom: 10px;
}
.program .form-control {
    padding: 10px 17px 9px;
    background: linear-gradient(270deg, #FFFFFF 0%, #F0EEF9 100%);
    border-radius: 8px;
}
.program .form-control__field-last {
    width: 50px;
}
.program .form-control-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.program .form-control-wrap div {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: #136EEC;
}
.form-control-title {
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    color: #5F5F5F;   
}
.program_right-banner {
    position: absolute;
    bottom: 0;
    left: -118px;
    z-index: -1;
}
.form-control-total {
    padding: 16px 19px 21px;
    background: linear-gradient(135deg, #3087FB 0%, #333DBD 100%);
    border-radius: 8px;  
    display: flex;  
    align-items: center;
}
.form-control-total-content {
    margin-left: 18px;
}
.form-control-total .icon {
   width: 35px;
   height: 41px; 
   flex-shrink: 0;
}
.form-control-total-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    color: #FFFFFF;
}
.form-control-total-money {
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}

/* PROGRAM END */



/* WITHDRAWAL START */

.withdrawal {
    padding: 60px 0 50px;
    background: #FAFAFA;
}
.withdrawal .icon {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    margin-right: 16px;
}
.withdrawal .container {
    display: flex;
}
.withdrawal-image {
    width: 558px;
    height: auto;
    position: relative;
}
.withdrawal-image img {
    width: 100%;
    height: auto;
}
.withdrawal-image-banner {
    position: absolute;
    bottom: 0;
    left: 0;
}
.withdrawal .info {
    margin-left: 63px;
    margin-top: 87px;
}
.list-item {
    display: flex;
    align-items: center;
    margin-bottom: 21px;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: #2E2E2E;
}
.list-item:last-child {
    margin-bottom: 0px;
}

/* WITHDRAWAL END */



/* REVIEWS START */

.reviews {
    padding: 78px 0 65px;
}
.reviews_title {
    text-align: center;
    position: relative;
}
.reviews_title:before {
    position: absolute;
    content: "";
    width: 135px;
    height: 106px;
    top: 155px;
    left: 50%;
    transform: translateX(-50%);
    background: url(../img/quote.png);
}
.reviews_text {
    text-align: center;
    margin-bottom: 160px;
}
.reviews_quotation {
    text-align: center;
}
.reviews_items {
    padding: 18px 0 27px;
}
.reviews_item {
    background: #FFFFFF;
    border-radius: 18px;
    padding: 25px 33px 46px;
    margin-right: 22px;
    box-shadow: 0px 14px 43px rgba(212, 210, 224, 0.585337);
}
.reviews_items > * {
    margin-right: 0px;
}
.reviews_item-avatar {
    width: 58px;
    height: 58px;
}
.reviews_item-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.reviews_item-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: #777777; 
    margin-top: 20px;  
}
.reviews_item-bottom {
    margin-top: 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.reviews_item-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.45px;
    color: #242424;
}
.reviews_item-date {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.4px;
    color: #B2B2B2; 
}
.reviews .icon {
    width: 88px;
    height: 18px;
}
.reviews-slider {
	min-width: 0;
}
.slick-track{
	display: flex;
	align-items: flex-start;
}
.slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
}
.slick-dots li{
	list-style: none;
	margin: 0px 3px;
}
.slick-dots button{
	font-size: 0;
	width: 13px;
	height: 13px;
	background: #D8D8D8;
	border-radius: 50%;
    margin-top: 60px;
}
.slick-dots li.slick-active button{
	background: linear-gradient(135deg, #3087FB 0%, #333DBD 100%);
}

/* REVIEWS END */



/* POST START */

.post {
    padding-top: 40px;
    padding-bottom: 93px;
}
.post_title {
    text-align: center;
}
.post_items {
    margin-top: 43px;
}
.post_item {
    background: #FFFFFF;
    border-radius: 18px;
    padding: 25px 69px 46px 33px;
    box-shadow: 0px 14px 43px rgba(212, 210, 224, 0.585337);
}
.post_item-date {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.4px;
    color: #B2B2B2; 
    margin-bottom: 23px;
}
.post_item-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.45px;
    color: #242424;
    margin-bottom: 13px;
}
.post_item-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: #777777;
    margin-bottom: 31px;
}
.post_item-link {
    background: linear-gradient(135deg, #3087FB 0%, #333DBD 100%);
    border-radius: 25px;
    width: 151px;
    height: 50px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 50px;
    color: #FFFFFF;
}
.post_item-link:hover {
    background: linear-gradient(176.59deg, #3087FB 0%, #333DBD 643.45%);
}
.slick-list {
    overflow: initial;
}  
.slick-slide {
    opacity: 0;
    margin: 0 11px;
}  
.slick-active {
    opacity: 1;
}

/* POST END */



/* FOOTER START */

.footer {
    background: #35146a;
    padding: 26px 0;
}
.footer .container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
@media (max-width: 735px) {
    .footer .container {
        display: block;
    }
}
@media (max-width: 735px) {
    .footer-col {
        text-align: center;
    }
}
.footer-col:last-child {
    text-align: right;
}
@media (max-width: 735px) {
    .footer-col:last-child {
        text-align: center;
    }
}
.footer-col__row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
@media (max-width: 735px) {
    .footer-col__row {
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}
.footer-link {
    margin: 3px 0;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    opacity: 0.37;
    border-bottom: 1px dashed #fff;
}
.footer-link:hover {
    opacity: 0.7;
}
.copyright {
    margin-top: 12px;
    opacity: 0.37;
    color: #fff;
}
@media (max-width: 735px) {
    .copyright {
        margin-bottom: 12px;
    }
}
@media (max-width: 735px) {
    .soc {
        margin-top: 12px;
    }
}
.soc a {
    margin: 12px;
    opacity: 0.37;
}
.soc a:hover {
    opacity: 1;
}
.soc a img {
    max-width: 30px;
    max-height: 20px;
}

/* FOOTER END */




@media (max-width: 1023px) {
    .about_items-bottom {
        margin-left: 0;
        justify-content: space-between;
    }
    .about_items-top .about_item:first-child {
        width: calc(100%/3);
    }
    .about_items-top .about_item:last-child  {
        margin-left: 0px;
        width: calc(100%/3);
        padding: 34px 38px 41px 38px;
    }
    .about_items-top .about_item:nth-child(2) {
        padding: 34px 8px 41px 38px;
        width: calc(100%/3);
    }
    .about_items-top {
        width: 100%;
    }
    .about_items-bottom > * {
        margin-left: 0;
    }
    .about {
        padding-top: 55px;
    }
    .program_left {
        margin-top: 0px;
    }
    .program .container {
        align-items: center;
    }
    .withdrawal {
        padding: 30px 0 30px;
    }
    .reviews {
        padding: 50px 0 40px;
    }
    .reviews_items {
        padding: 18px 0 18px;
    }
    .slick-dots button {
        margin-top: 60px;
    }
    .post {
        padding-top: 30px;
        padding-bottom: 60px;
    }
    .withdrawal .info {
        margin-left: 30px;
        margin-top: 0;
    }
    .withdrawal .container {
        align-items: center;
        justify-content: space-between;
    }
    .slick-dots button {
        margin-top: 45px;
    }


}



@media (max-width: 767px) {
    .slick-dots button {
        margin-top: 30px;
    }
    .reviews_text br {
        display: none;
    }
    .about_items-top {
        flex-direction: column;
    }
    .about_items-bottom {
        flex-direction: column;
    }
    .about_items-top .about_item:first-child {
        width: 100%;
        margin-top: 0;
        padding-right: 0;
        text-align: center;
        margin-bottom: 30px;
    }
    .about_items-top .about_item:nth-child(2),
    .about_items-top .about_item:last-child {
        padding: 25px;
        width: 100%;
        text-align: center;
    }
    .about_item .about_item-text {
        max-width: 100%;
    }
    .about_items-bottom {
        text-align: center;
    }
    .about_items-bottom > * {
        width: 100%;
        margin-bottom: 0;
        padding: 25px;
    }
    .program .container {
        flex-direction: column;
    }
    .program_left {
        margin-right: 0;
        order: 1;
        margin-top: 38px;
    }
    .about_title,
    .program_title,
    .withdrawal_title,
    .reviews_title,
    .post_title,
    .about_text,
    .program_text,
    .withdrawal_text,
    .reviews_text {
        text-align: center;
    }
    .program .btn {
        display: block;
        margin: 0 auto;
    }
    .withdrawal .container {
        flex-direction: column;
    }
    .withdrawal .info {
        margin-left: 0px;
        margin-top: 30px;
    }
    .post_items {
        margin-top: 0px;
    }
    .post_item {
        padding: 25px;
    }
    .reviews_title:before {
        top: -25px;
        z-index: -1;
    }
    .reviews_text {
        margin-bottom: 0;
    }
    .program_right-banner {
        display: none;
    }
    .program_right {
        max-width: 100%;
    }
    .withdrawal-image-banner {
        display: none;
    }
    .program {
        padding: 45px 0 10px;
    }
    .withdrawal_text br {
        display: none;
    }
    .reviews_item {
        margin-right: 0;
        padding: 25px;
    }


}



@media (max-width: 479px) {
    .withdrawal-image {
        width: 100%;
    }
    .about_title,
    .program_title,
    .withdrawal_title,
    .reviews_title,
    .post_title {
        font-size: 26px;
        line-height: 30px;
        letter-spacing: -0.65px;
        margin-bottom: 19px;
    }
    .about_text,
    .program_text,
    .withdrawal_text,
    .reviews_text {
        font-size: 14px;
        line-height: 26px;
    }
    .about_items-top .about_item:nth-child(2), 
    .about_items-top .about_item:last-child,
    .about_items-bottom > * {
        padding: 34px 20px 61px;
        text-align: start;
        width: calc(100% + 40px);
        margin-left: -20px;
        margin-right: 20px;
    }
    .reviews_item {
        padding: 18px;
    }
    .post_item {
        padding: 18px;
    }
    .section--main {
        padding-bottom: 40px;
    }
    .about {
        padding-top: 0;
        padding-bottom: 0;
    }
    .withdrawal {
        padding: 0 0 30px;
    }
    .withdrawal .info {
        margin-top: 0px;
    }
    .post {
        padding-top: 0px;
        padding-bottom: 40px;
    }

}






